.main {
  width: 100%;
}

.landing {
  /* background-image: url('/img/weston.jpg'); */
  /* background-image: url('https://www.placecage.com/gif/1200/600'); */
  /* background-image: url('http://placekitten.com/700/600'); */
  background-attachment: fixed;
  background-position: bottom right; 
  background-repeat: no-repeat;
  height:100vh;
}

.lowerPageLeft {
  width: 30%;
  min-height: 100vh;
}

.lowerPageRight {
  width: 70%;
  min-height: 100vh;
}

.title h1 {
  margin: 0;
  line-height: 1.15;
  font-size: 10rem;
  text-align: left;
}

.code {
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.gridReverse {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.techImgContainer {
  max-width: 4rem;
}

.techImg {
  max-width: 4rem;
  display: inline;
  height: auto;
  margin: .3rem .3rem .3rem .3rem;
}

.colW50 {
  float: left;
  width: 50%;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

.center {
  margin: auto;
}

.card {
  flex-basis: 45%;
  clear: both;
  /* display: flex; */
  /* flex-wrap: wrap; */
  width: 100%;
  color: inherit;
  text-decoration: none;
  /* border: 1px dotted black; */
  transition: color 0.15s ease, border-color 0.15s ease;
}

.projectImg {
  max-width: 14rem;
  display: inline;
  height: auto;
  margin: .5rem .5rem .5rem .5rem;
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  display: inline;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */

.logo {
  height: 1em;
}

@media (max-width: 600px) {

  .title h1 {
    margin: 0;
    line-height: 1.15;
    font-size: 6rem;
    text-align: left;
  }

  .lowerPageLeft {
    width: 100%;
    min-height: auto;
  }
  
  .lowerPageRight {
    width: 100%;
    min-height: auto;
  }
  
  /* .grid {
    width: 100%;
    flex-direction: column;
  } */

  .colW50 {
    width: 100%;
  }

  .w50 {
    width: 100%;
  }
  
  .w25 {
    width: 100%;
  }
  
}
